.float-block {
	float: left;
}

.float-block-temp {
	float: left;
	display: none;
}

.default-font {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  /* font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif; */
}

.header-content {
  padding: 15px;
  background-color: white;
  border-bottom: 1px solid black;
}

.header-label {
  margin: 0px 15px;
  cursor: pointer;
}

.header-item {
  margin: 5px 15px;
  cursor: pointer;
}

.bg-img {
  background: url(../images/main.jpg);
  background-size: cover;
}

.info-block {
  border-radius: 15px;
  background-color: white;
  min-width: 100%;
  margin: 75px 0;
}

.select-bg {
  background-color: #e39cba;
}

.select-info-block {
  margin: 300px 0 200px 0;
}

.section-inner {
  padding: 10px 20px;
}

.btn-block {
  background-color: #0fa7b7;
  color: white;
  padding: 10px 15px;
  border-radius: 15px;
  text-align: center;
  font-size: large;
  cursor: pointer;
}

.select-btn {
  padding: 5px 10px;
  font-size: small;
}

.presentation-img {
  max-width: 100%;
  border-radius: 15px;
}

.comments-bg {
  background-color: #e8f3f9;
}

.comment-block {
  background-color: #f0efed;
  max-width: 70%;
  min-width: 40%;
  margin: 10px 5px;
}

.comment-item {
  width: 100%;
}

.comments-inner-block {
  display: flex;
  flex-direction: column;
}

.special-bg {
  background-color: #ff9273;
}

.buy-bg {
  background-color: #ffd073;
}

.footer-content {
  padding: 10px 0px;
}

.about-col {
	padding: 0px 20px !important;
}

.img-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.galery-img-small {
    width: 250px;
    cursor: pointer;
		border-radius: 15px;
    margin: 20px;
    flex-grow: 1;
}

.galery-img-big {
    width: 100%;
		border-radius: 15px;
    margin: 0 0 0 0;
}

.modal {
  display: none;
  background: rgba(0,0,0,0.6);
}

.modal-content {
  background-color: #fff;
  position: absolute;
  top: 35%;
  left: 35%;
  padding: 30px;
  width: 30%;
  border-radius: 10px;
}

.galery-content {
  background-color: #fff;
  position: absolute;
  top: 10%;
  left: 20%;
  padding: 30px;
  width: 60%;
  border-radius: 10px;
}

.galery-btm {
  font-size: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.close-modal-window {
  color: #000;
  float: right;
  font-size: 30px;
  cursor: pointer;
}

a {
	color: #212529 !important;
	text-decoration: none !important;
}

main {
  margin-top: 64px;
}


.bg-hedgehog {
  background: url(../images/yozh.jpg);
  background-size: cover;
}

.p_contacts {
  margin-left:15px;
}
.select_contacts {
  width: 357px;
}

.contact-block {
  max-height: 78%;
  min-height: 78%;
}